body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(51, 51, 255);
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

#main-header {
  width: 100%;
  box-sizing: border-box;
  background: rgb(102, 102, 255);
  
}

#navbar {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 10;
  background: rgb(51, 51, 255);
}

#navbar h3 {
  margin: 0;
  padding: 0.3em 0;
  background: rgb(153, 153, 255);
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 25vh;
  overflow: auto;
 
}

#navbar ul li {
  border: 3px outset grey;
  margin: 0.1em 0;
  padding: 0.3em 0;
  text-align: center;
}

#navbar li:nth-child(odd) {
  background: white;
}

#navbar li:nth-child(even) {
  background: lightgray;
}

a {
  text-decoration: none;
  color: black;
  padding: 1em 0;
}

a:hover {
  color:rgb(102, 0, 102);
}

h1,h2 {
  text-align: center;
  padding: 0.5em 0 0 0;
}

.center1 {
  position: static;
  margin-top: 50vh !important;
  
}

.center>p {
  margin-top: 0;
  padding: 0;
}

header p {
  text-align: center;
  padding-bottom: 1em;
  margin: 0;
}

pre {
  background-color: whitesmoke;
  text-align: left;
  overflow-x: scroll;
  margin: 0.2em 0.5em;
  padding: 0.1em 0;
}

#main-doc {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1em;
}

.main-section {
 box-sizing: border-box;
 padding: 1em;
}

.main-section:nth-child(odd) {
  background:rgb(179, 179, 255);
}

.main-section:nth-child(even) {
  background: rgb(204, 204, 255);
}

footer {
  text-align: center;
  box-sizing: border-box;
  padding: 1em 0.5em;
}

button {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  border-radius: 50px;
  border-color: transparent;
  background-color:rgb(15, 15, 247);
  padding: 0.5em 1em;
  width: 70vw;
}

a:focus, a:visited {
  color: black;
}

@media (min-width: 800px) {
  #main-header {
    overflow: hidden;
  }

  .center {
    width: 77vw;
    margin-left: 18vw;
    text-align: center;
  }
  
  #navbar {
    background: rgb(51, 51, 255);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20vw;
    height: 100vh;
    padding: 0.5em 0 ;
    margin: 0;
    border-right: 5px inset gray;
  }

  #navbar h3 {
    margin: 0;
  }

  #navbar ul {
    width: 20vw;
    height: 90vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }



  #navbar a:hover {
    color: red;
    cursor: pointer;
  }

  pre {
    background-color: whitesmoke;
    text-align: left;
    overflow-x: scroll;
    margin: 0.2em 1em;
    padding: 0.1em 0;
    width: 70%;
    
  }

  #main-doc {
    width: 77vw;
    margin-left: 18vw;

  }

  .main-section {
    box-sizing: border-box;
    width: 80vw;
  
  }

  #html_iframes {
    width: 100%;
    overflow: hidden;
  }

  footer h2,p {
    text-align: left;
  }
}
